.step-img {
  width: 550px;
}

//.img-large {
//  width: 750px;
//}

.call-to-action {
  text-align: center; 
  color: #FFF;
  border-radius: 2px;
  background-color: #FFC8A6;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);;
  margin: 20px;
  text-decoration: none;
  width: 300px;
  padding: 10px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.call-to-action:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media (max-width: 680px) {

  .step-img {
  width: 350px!important;
  }

  .section h1 {
    font-size: 30px!important;
  }

  .section p {
    font-size: 16px!important;
  }

}


body {
  //font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3em;
  margin: 0;
  padding: 0;
  text-align: center;
}
/*¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶ pallet color ¶¶¶¶¶¶*/
#hero                 { background-color: #F3F3F3; color: #01A2A6; }
  #hero .arrow-box    { background-color: #01A2A6; }
  #hero .arrow        { border-color: #F3F3F3 transparent transparent transparent; }

#one                  { background-color: #01A2A6; color: #F3F3F3; }
  #one .arrow-box     { background-color: #85CACC; }
  #one .arrow         { border-color: #01A2A6 transparent transparent transparent; }

#two                  { background-color: #85CACC; color: black; }
  #two .arrow-box     { background-color: #537E7F; }
  #two .arrow         { border-color: #85CACC transparent transparent transparent; }

#three                  { background-color: #537E7F; color: #F3F3F3; }
  #three .arrow-box     { background-color: #FFC8A6; }
  #three .arrow         { border-color: #537E7F transparent transparent transparent; }

#four                  { background-color: #FFC8A6; color: black; }
  #four .arrow-box     { background-color: #BFFEFF; }
  #four .arrow         { border-color: #FFC8A6 transparent transparent transparent; }

#five                  { background-color: #BFFEFF; color: black; }
  #five .arrow-box     { background-color: #62B1B2; }
  #five .arrow         { border-color: #BFFEFF transparent transparent transparent; }

#six                  { background-color: #62B1B2; color: #F3F3F3; }
  #six .arrow-box     { background-color: #01A2A6; }
  #six .arrow         { border-color: #62B1B2 transparent transparent transparent; }

#seven                { background-color: #01A2A6; color: #F3F3F3; }
  #seven .arrow-box     { background-color: #85CACC; }
  #seven .arrow         { border-color: #01A2A6 transparent transparent transparent; }

#eight                { background-color: #85CACC; color: #F3F3F3; }
  #eight .arrow-box     { background-color: #537E7F; }
  #eight .arrow         { border-color: #85CACC transparent transparent transparent; }

#nine                 { background-color: #537E7F; color: #F3F3F3; }
  #nine .arrow-box     { background-color: #F4F4F4; }
  #nine .arrow         { border-color: #537E7F transparent transparent transparent; }

#ten                 { background-color: #F4F4F4; color: black; }
  #ten .arrow-box     { background-color: #FFC8A6; }
  #ten .arrow         { border-color: #F4F4F4 transparent transparent transparent; }

#eleven               { background-color: #FFC8A6; color: #F3F3F3; }
  #eleven .arrow-box     { background-color: #FFC8A6; }
  #eleven .arrow         { border-color: #FFC8A6 transparent transparent transparent; }


/*¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶ general ¶¶¶¶¶¶*/
#fullpage {
  position: relative;
  width: 100%;
}
.section {  
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
  width: 100%;
}
.section > p, .section h1 {
  max-width: 800px;
  padding: 0.5em;
}
//.section p { width: 80%; }
.arrow-box {
  bottom: 0;
  height: 20px;
  position: absolute;
  width: 100%;
}
.arrow {  
  border-style: solid;
  border-width: 15px 15px 0 15px;
  height: 0;
  margin: 0 auto;
  width: 0;
}
/*¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶ icon ¶¶¶¶¶¶*/
.icon-box {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.icon {
  align-items: center;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 3em;
  justify-content: center;
  height: 100px;
  margin: 0.3em;
  width: 100px;
}
.icon:hover {
  transform: scale(1.2);
}
/*¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶ three ¶¶¶¶¶¶*/


.circle {
  border: 1px solid white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}




