<div class="footer">
  <div class="footer-links">
    <p>© 2016 Officina Santé. Tous droits réservés.</p>
  </div>
  <!--<div class="footer-copyright">
    <a href="mailto:clement@officinasante.fr"><i class="fas fa-envelope" aria-hidden="true"></i></a>
  </div>-->
</div>