<div class="container"> 
  <div class="row"> 
    <div class="col-sm-12 col-md-4"> 
      <div class="step">
        <%= image_tag "digitaliser.png", class: 'step-img' %>
      </div>
      <h2 class="text-center">Digitalisez</h2>
      <p class="text-center">Vos programmes d'éducation thérapeutique </p>
    </div>
    <div class="col-sm-12 col-md-4"> 
      <div class="step">
        <%= image_tag "eduquer.png", class: "step-img" %>      
      </div>
      <h2 class="text-center">Eduquez</h2>
    </div>
    <div class="col-sm-12 col-md-4"> 
      <div class="step">
        <%= image_tag "suiver.png", class: "step-img" %>
      </div>
      <h2 class="text-center">Suivez</h2>
    </div>
  </div>
</div>